
body {
  font-family: "Work Sans", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.home {
  margin: auto;
  width: 70%;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1024px) {
  .home {
    width: 90%;
  }
}

@media only screen and (max-width: 512px) {
  .home {
    width: 100%;
  }
}

/* circulo animado */

.nav__circle {
  position: fixed;
  left: 0;
  top: 0;
/*   margin: 182px 0 75px -377px; */ /* top , rigth ,bottom , left */
margin: 182px 0 75px 1000px;

width: 750px;
  height: 750px;
  overflow: hidden;
}
.nav__circle p {
  position: absolute;
  left: 0;
  top: 0;
}